<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "TestNG.dtd">
<suite name="CrossBrowserSuite">
    <test name="CrossBrowserTest">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="cross_browser_testing.CrossBrowserTest"/>
        </classes>
    </test>

    <test name="CrossBrowserTest_Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="cross_browser_testing.CrossBrowserTest"/>
        </classes>
    </test>

    <test name="CrossBrowserTest_Edge">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="cross_browser_testing.CrossBrowserTest"/>
        </classes>
    </test>
</suite>